@font-face {
    font-family: 'customfont';
    src: url('static/Tambarto-Regular.ttf') format('truetype');
}

.custom-font {
    font-family: 'customfont', sans-serif;
    color: black;
    font-size: 40px;
}
