
@font-face {
    font-family: 'customfont';
    src: url('Tambarto-Regular.ttf') format('truetype');
}

body {
    background-color: #556b2f;
}

.custom-text {
    color: blue;
    font-family: 'customfont';
}